<%- include("partials/header") -%>


<h1>We're Here to Help!</h1>
<p> <%= contactContent %> </p>

<h3>Contact Information: </h3>
<p>Email: rmtechlabs001@gmail.com</p>




<%- include("partials/footer") -%>