<%- include("partials/header") -%>

<h1>Welcome to Reading Journal - Your Personal Blogging Companion</h1>
<p> <%= homeStartingContent %> </p>

<p>Are you ready to embark on a digital journey of self-expression? Look no further than Reading Journal, the ultimate personal blogging app designed to empower you to share your thoughts, experiences, and creativity with the world</p>

<p>At Reading Journal, we believe that everyone has a unique story to tell. Whether you're a seasoned writer, a passionate traveler, a budding artist, or simply someone with a burning desire to connect with others, our app provides the perfect platform to unleash your creativity and make your voice heard.</p>

<h3>Unleash your creativity </h3>
<p>Reading Journal provides a canvas for you to paint your ideas, stories, and insights. With our user-friendly interface, you can easily create and publish captivating blog posts. Share your unique perspective and let your personality shine through your writing.</p>


<h3>Connect with like-minded individuals </h3>
<p>Join a vibrant community of fellow bloggers and readers who share your interests. Discover new voices, engage in meaningful discussions, and build connections with individuals from diverse backgrounds. Reading Journal brings people together, fostering a sense of belonging in the digital realm.</p>

<%- include("partials/footer") -%>